
@model List<Usuario>

<table>
<tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Borrar</th>
    <th>Modificar</th>
    <!-- <th>Eliminar</th>-->
</tr>

@foreach (var u in Model)
{
    <tr>
        <td>@u.Nombre</td>
        <td>@u.Apellido</td>
        <td>@u.Email</td>
        <td>@Html.ActionLink("Eliminar", "Eliminar", "Home",  new {id = u.Id},null)</td>
        <td>@Html.ActionLink("Modificar", "ModificarUsuario", "Home", new { id = u.Id }, null)</td>
    </tr>
}
</table>